.footer-container {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.footer-icon {
  font-size: 30px;
  margin-right: 20px;
  color: #fff;
  transition: transform 0.3s ease;
}

.footer-icon:hover {
  transform: translateY(-5px);
}

.footer-icon a {
  color: #fff;
}

.footer-icon:hover a {
  color: #ffa500;
}
.social-media-icon{
  color:white;
  font-size:50px;
  text-decoration: none;
}

a{
  padding: 5px;
}